      <!-- ==================== FOOTER SECTION ==================== -->
      <footer class="footer-bg bg-cover bg-center bg-no-repeat pb-8 relative">
         <img src="/assets/images/footerBackground.jpg" class="object-cover w-full h-full absolute inset-0 bottom-0" alt="">
         <div class="container">
            <div class="footer-grid grid md:grid-cols-12 gap-2 md:pl-0">
               <!-- Left Column - Logo & Info -->
               <div class="md:col-span-4 md:border-r-[#F6F4E6]/35 md:border-r pb-4 sm:pr-2 lg:pr-0 md:pb-16 pt-10 md:pt-16">
                  <img src="/assets/images/logo/Nekta-white.svg" alt="logo" class="footer-logo mb-6" />
                  <p class="text-h3 font-heading mb-0!">Life is a beautiful plate</p>
                  <div class="menu-divider"> <span></span></div>
                  <p
                     class="footer-brand-copy footer-indent mt-2 text-cream font-normal border-b border-b-[#F6F4E6]/35 pb-8 md:pb-14">
                     
                   A wholly owned subsdiary of TAJ Sats
                    
                    
                  </p>
                  <div class="footer-indent mt-8 md:mt-10">
                     <h4 class=" border-0! mb-0!">Address</h4>
                     <p>
                        9th Floor, Express Towers, <br />
                        Nariman Point, Mumbai 400 021
                     </p>
                  </div>
                  <div class="footer-indent mt-8">
                     <h4 class=" border-0! mb-0!">Contact US</h4>
                     <p> <a href="tel:+912231220200">+91 22 3122 0200</a> </p>
                     <p class="footer-text"> <a href="mailto:sales@bubblefoods.com">sales@bubblefoods.com</a></p>
                  </div>
               </div>
               <!-- Quick Link -->
               <div class="footer-quick-links footer-quick-link-click md:col-span-3 md:pt-20">
                  <h4 >Quick Link</h4>
                  <ul class="footer-nav-list space-y-1 sm:space-y-3 lg:space-y-5">
                     <li>
                        <a href="#" class="footer-link">Home</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">About us</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Segments</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Solutions</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Careers</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Contact us</a>
                     </li>
                  </ul>
               </div>
               <!-- Segments -->
               <div class="md:col-span-3 md:pt-20 footer-quick-link-click">
                  <h4 >Segments</h4>
                  <ul class="footer-nav-list space-y-1 sm:space-y-3 lg:space-y-5">
                     <li>
                        <a href="#" class="footer-link">Business and Corporate</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">HORECA</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Education</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Healthcare</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Sports</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Outdoor Events</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">The Daily Pour</a>
                     </li>
                  </ul>
               </div>
               <!-- Solutions -->
               <div class="md:col-span-2 md:pt-20 footer-quick-link-click">
                  <h4 >Solutions</h4>
                  <ul class="footer-nav-list space-y-1 sm:space-y-3 lg:space-y-5">
                     <li>
                        <a href="#" class="footer-link">Culinary Excellence</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Food Solutioning</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">People</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Food Safety & Hygiene</a>
                     </li>
                     <li>
                        <a href="#" class="footer-link">Food Programs</a>
                     </li>
                  </ul>
               </div>
            </div>
            <!-- Bottom Bar -->
            <div
               class="footer-bottom border-t border-[#F6F4E6]/35 pt-8 flex flex-col lg:flex-row justify-between items-center gap-3 md:gap-4 lg:gap-4 text-xs">
               <p class="copyright-text">
                  Copyright © <span id="year-foot"></span> Nekta. All Rights Reserved.
               </p>
               <!-- Social Icons -->
               <div class="flex gap-4 md:gap-4">
                  <a href="#" class="social-link text-cream hover:text-green transition border border-cream rounded-full flex items-center justify-center"
                     aria-label="Facebook">
                     <img src="/assets/images/facebook-icon.svg" alt="logo" />
                  </a>
                  <a href="#"
                     class="social-link text-cream hover:text-green transition border border-cream rounded-full flex items-center justify-center"
                     aria-label="Instagram">
                     <img src="/assets/images/instagram-icon.svg" alt="logo" />
                  </a>
                  <a href="#"
                     class="social-link text-cream hover:text-green transition border border-cream rounded-full flex items-center justify-center"
                     aria-label="X">
                     <img src="/assets/images/twitter-icon.svg" alt="logo" />
                  </a>
                  <a href="#"
                     class="social-link text-cream hover:text-green transition border border-cream rounded-full flex items-center justify-center"
                     aria-label="LinkedIn">
                     <img src="/assets/images/linkedin-icon.svg" alt="logo" />
                  </a>
               </div>
               <div class="footer-legal flex flex-wrap justify-center gap-2">
                  <a href="#" class="legal-link legal-divider pr-2 border-r">Sitemap</a>
                  <a href="#" class="legal-link legal-divider pr-2 border-r">Disclaimer</a>
                  <a href="#" class="legal-link legal-divider pr-2 border-r">Terms & Conditions</a>
                  <a href="#" class="legal-link">Privacy Policy</a>
               </div>
            </div>
         </div>
      </footer>