@using Nekta_MVC.Helpers
@model Nekta_BusinessLogic.Entity.HomePageModel
@{
    ViewData["Title"] = "Nekta";
    Layout = "~/Views/Shared/_Layout_home_page.cshtml";
}

@section head {
    <title></title>

    <meta content="" name="keywords" />
    <meta content="" name="description" />


    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="https://www.nekta.com/" />
    <meta property="og:image" content="" />

    <meta itemprop="name" content="Nekta" />
    <meta itemprop="description" content="" />
    <meta itemprop="image" content="" />

    <!-- Facebook / Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Nekta" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://www.nekta.com/" />

    <link rel="canonical" href="https://www.nekta.com/" />
}

@section Styles {

    <link rel="preload" href="~/Assets/css/swiper-bundle.min.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/swiper-bundle.min.css" />

    <link rel="preload" href="~/Assets/css/homepage-style.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/homepage-style.css" />

    <link rel="preload" href="~/Assets/css/swiper-custom.css" as="style">
    <link rel="stylesheet" href="~/Assets/css/swiper-custom.css" />
}

<div>Home</div>




@section Scripts {

}