<link rel="stylesheet" href="/Assets/css/2FA_scan.css" />

<div class="qr-container">

    <h4>Scan QR Code</h4>

    <p>Scan with Google Authenticator</p>

    <img src="data:image/png;base64,@ViewBag.QR" class="qr-image" />

    <br /><br />

    <p><b>Manual Code:</b> @ViewBag.Secret</p>

</div>