@{
    Layout = "~/Views/Shared/Manage/_Layout_RHS.cshtml";
    ViewData["Title"] = "Scan QR Code";
    string returnUrl = Context.Request.Query["ReturnUrl"].ToString();
}



<h2>Login Logs</h2>

<table class="table table-bordered">

    <tr>
        <th>Email</th>
        <th>IP Address</th>
        <th>Login Date</th>
        <th>Status</th>
    </tr>

    @foreach (var log in Model)
    {
        <tr>
            <td>@log.Email</td>
            <td>@log.IPAddress</td>
            <td>@log.LoginDate</td>
            <td>@log.Status</td>
        </tr>
    }

</table>