@model List<Nekta_BusinessLogic.Entity.Content_Search_Display>

@foreach (var item in Model)
{
    <li class="bg-white dark-bglight p-5 rounded-lg border border-black/25 hover:shadow-md transition flex flex-col group search-list-group">

        <div class="flex flex-col">

            <a href="@item.URL">

                <h3 class="text-lg sm:text-xl dark-textwhite font-semibold mb-2 group-hover:text-primary transition-colors">

                    @Html.Raw(item.cont_title)

                </h3>

                <p>
                    @Html.Raw(item.intro)
                </p>

            </a>

        </div>

    </li>
}